.form-container {
  max-width: 400px;
  width: 100%;
  font-family: sans-serif;
}

.top-text {
  text-align: right;
  margin-bottom: 10px;
  display: flex;

}

.get-started {
  color: #6c63ff;
  font-weight: bold;
  cursor: pointer;
}

.divider {
  margin: 0 5px;
  color: #aaa;
}

.no-account {
  color: #999;
}

.title {
  font-weight: bold;
  margin-top: 0;
}

.subtitle {
  margin-bottom: 20px;
  color: #555;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.password-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.options-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  font-size: 14px;
}

.remember-label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.forgot {
  color: #3f3f8f;
  cursor: pointer;
  font-weight: 500;
}

.sign-in-btn {
  width: 100%;
  padding: 12px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.divider-line {
  margin: 20px 0;
}

.social-text {
  text-align: center;
  margin-bottom: 10px;
}

.social-buttons {
  display: flex;
  gap: 10px;
}

.social-btn {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #eee;
  background-color: #f8f8f8;
  cursor: pointer;
}
