

.signin-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.signin-image {
  flex: 1; /* تلت الصفحة تقريبًا */
  background-image: url("C:\Users\ADMIN\Desktop\React js\test\src\assets\space.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
}

.signin-image-inside {
  background-color: #000000;
  position: absolute;
  width: 100%;
  height: 100%;
}

.signin-form {
  flex: 2; /* باقي الصفحة */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}