@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  @apply font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* العناوين */
h1, h2, h3, h4, h5, h6 {
  @apply font-heading;
}

/* الفقرات */
p {
  @apply font-body;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

